@import "layout.scss";

body{
    font-family: 'Raleway', sans-serif;
    color: #3c3c3c;
}

.ap-page{
    margin: 50px;
}

a{
    text-decoration: none;
    color: #3c3c3c;

    &:hover{
        color: #fff;
    }

    &:focus{
        color: #fff; 
    }
}

.ap-header{
    position: absolute;
    width: 100%;
}

.ap-nav{
    padding: {
        top: 32px;
        right: 140px;
    }
}

.ap-menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ap-menu__item{
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
}

.ap-menu__burger{
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
}

.ap-burger__line,
.ap-burger__line::before,
.ap-burger__line::after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 20px;
    height: 2px;
    background-color: #3c3c3c;
}

.ap-burger__line::before{
    content: "";
    transform: translateY(-5px);
}

.ap-burger__line::after{
    content: "";
    transform: translateY(5px);
}

.ap-hero{
    min-height: 750px;
    background: {
        image: url(..//images/A.jpg);
        position: center;
        size: cover;
        repeat: no-repeat;
    } 
    
    &__block{
        padding-top: 225px;
        padding-left: 140px;
        max-width: calc(36% + 140px);
    }
}

.ap-title{
    position: relative;
    font-size: 3.125rem;
    font-weight: 300;
    margin: 0;
}

span{
    font-weight: bold;
}

.ap-info{
    margin: 0;
    font: {
        size: 1.125rem;
        weight: 300;
        style: italic;
        weight: bold;
    }
    padding-top: 1.111em;
    line-height: 1.388em;
}

// section P

.ap-about{
    position: relative;
    margin-top: 50px;
    min-height: 750px;
    background: {
        image: url(..//images/P.jpg);
        position: center;
        size: cover;
        repeat: no-repeat;
    } 
    
    &__block{
        position: absolute;
        top: 180px;
        left: 650px;
        max-width: 45%;
    }

    &__social{
        margin-top: 4.375rem;
    }

    &__social_list{
        display: flex;
        align-items: center;
        list-style-type: none;
        padding: 0;
    }

    &__social-item{
        margin-right: 20px;
        width: 33px;
        height: 33px;
        background-color: #909090;
    
        &:hover{
            background-color: #000; 
        }
    }

    &__icon{
        text-align: center;
        margin: 7px auto;
    }
}

.title-modificator{
    padding-left: 125px;

    &:before{
        position: absolute;
        content: "";
        top: 50%;
        transform: translateY(50%);
        height: 1px;
        left: 0;
        width: 85px;
        background-color: #000;
    }
}

// section O

.ap-portfolio{
    position: relative;
    margin-top: 50px;
    min-height: 750px;
    background: {
        image: url(..//images/O.jpg);
        position: center;
        size: cover;
        repeat: no-repeat;
    }

    &__left{
        width: 75px;
        height: 75px;
        background-color: #fff;
        position: absolute;
        left: 40px;
        top: 340px;
        cursor: pointer;

        &:hover{
            opacity: .5;
        }
    }

    &__right{
        width: 75px;
        height: 75px;
        background-color: #fff;
        position: absolute;
        right: 40px;
        top: 340px;
        cursor: pointer;

        &:hover{
            opacity: .5;
        }
    }

    &__arrow-left{
        text-align: center;
        margin: 25% auto; 
    }

    &__arrow-right{
        text-align: center;
        margin: 25% auto;  
    }
} 

// section L

.ap-minim{
    position: relative;
    margin-top: 50px;
    min-height: 750px;
    background: {
        image: url(..//images/L.jpg);
        position: center;
        size: cover;
        repeat: no-repeat;
    }

    &__block{
        padding-top: 225px;
        padding-left: 140px;
        max-width: calc(30% + 140px);
    }
}

.second{
    position: relative;
    margin-top: 50px;
    min-height: 750px;
    background: {
        image: url(..//images/L2.jpg);
        position: center;
        size: cover;
        repeat: no-repeat;
    }
}

// section O2

.ap-footer{
    position: relative;
    margin-top: 50px;
    min-height: 750px;
    background: {
        image: url(..//images/O2.jpg);
        position: center;
        size: cover;
        repeat: no-repeat;
    }

    &__block{
        text-align: center;
        padding: 6.25rem 16.5625rem 0 16.5625rem;
    }
}

.ap-form{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 6.25rem;
    width: 100%;
    max-width: 585px;

    &__main{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__contacts{
        width: 48%;
        height: 43px;
        border: 1px solid #000;
        background-color: inherit;
        padding-left: 20px;
        color: #000;

        &::placeholder{
            color: #000;
        }
    }

    &__message{
        margin: 1.875rem 0;
        padding-left: 20px;
        padding-top: 12px;
        width: 100%;
        height: 8.125rem;
        border: 1px solid #000;
        background-color: inherit;

        &::placeholder{
            color: #000;
        }
    }

    &__button{
        text-align: center;
        width: 100%;
        height: 43px;
        border: none;
        background-color: #000;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;

        &:hover,
        &:focus{
            background-color: #909090;
        }
    }
}