* {
  box-sizing: border-box; }

.container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto; }

.ba-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.ba-row + .ba-row {
  margin-top: 1rem; }

[class^="ba-col-"] {
  padding: 0 15px; }

.ba-col-1 {
  width: 8.33333%; }

.ba-col-2 {
  width: 16.66667%; }

.ba-col-3 {
  width: 25%; }

.ba-col-4 {
  width: 33.33333%; }

.ba-col-5 {
  width: 41.66667%; }

.ba-col-6 {
  width: 50%; }

.ba-col-7 {
  width: 58.33333%; }

.ba-col-8 {
  width: 66.66667%; }

.ba-col-9 {
  width: 75%; }

.ba-col-10 {
  width: 83.33333%; }

.ba-col-11 {
  width: 91.66667%; }

.ba-col-12 {
  width: 100%; }

body {
  font-family: 'Raleway', sans-serif;
  color: #3c3c3c; }

.ap-page {
  margin: 50px; }

a {
  text-decoration: none;
  color: #3c3c3c; }
  a:hover {
    color: #fff; }
  a:focus {
    color: #fff; }

.ap-header {
  position: absolute;
  width: 100%; }

.ap-nav {
  padding-top: 32px;
  padding-right: 140px; }

.ap-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.ap-menu__item {
  text-transform: uppercase;
  font-weight: 400;
  margin: 0; }

.ap-menu__burger {
  display: block;
  width: 40px;
  height: 40px;
  position: relative; }

.ap-burger__line,
.ap-burger__line::before,
.ap-burger__line::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 20px;
  height: 2px;
  background-color: #3c3c3c; }

.ap-burger__line::before {
  content: "";
  transform: translateY(-5px); }

.ap-burger__line::after {
  content: "";
  transform: translateY(5px); }

.ap-hero {
  min-height: 750px;
  background-image: url(..//images/A.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .ap-hero__block {
    padding-top: 225px;
    padding-left: 140px;
    max-width: calc(36% + 140px); }

.ap-title {
  position: relative;
  font-size: 3.125rem;
  font-weight: 300;
  margin: 0; }

span {
  font-weight: bold; }

.ap-info {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 300;
  font-style: italic;
  font-weight: bold;
  padding-top: 1.111em;
  line-height: 1.388em; }

.ap-about {
  position: relative;
  margin-top: 50px;
  min-height: 750px;
  background-image: url(..//images/P.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .ap-about__block {
    position: absolute;
    top: 180px;
    left: 650px;
    max-width: 45%; }
  .ap-about__social {
    margin-top: 4.375rem; }
  .ap-about__social_list {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0; }
  .ap-about__social-item {
    margin-right: 20px;
    width: 33px;
    height: 33px;
    background-color: #909090; }
    .ap-about__social-item:hover {
      background-color: #000; }
  .ap-about__icon {
    text-align: center;
    margin: 7px auto; }

.title-modificator {
  padding-left: 125px; }
  .title-modificator:before {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(50%);
    height: 1px;
    left: 0;
    width: 85px;
    background-color: #000; }

.ap-portfolio {
  position: relative;
  margin-top: 50px;
  min-height: 750px;
  background-image: url(..//images/O.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .ap-portfolio__left {
    width: 75px;
    height: 75px;
    background-color: #fff;
    position: absolute;
    left: 40px;
    top: 340px;
    cursor: pointer; }
    .ap-portfolio__left:hover {
      opacity: .5; }
  .ap-portfolio__right {
    width: 75px;
    height: 75px;
    background-color: #fff;
    position: absolute;
    right: 40px;
    top: 340px;
    cursor: pointer; }
    .ap-portfolio__right:hover {
      opacity: .5; }
  .ap-portfolio__arrow-left {
    text-align: center;
    margin: 25% auto; }
  .ap-portfolio__arrow-right {
    text-align: center;
    margin: 25% auto; }

.ap-minim {
  position: relative;
  margin-top: 50px;
  min-height: 750px;
  background-image: url(..//images/L.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .ap-minim__block {
    padding-top: 225px;
    padding-left: 140px;
    max-width: calc(30% + 140px); }

.second {
  position: relative;
  margin-top: 50px;
  min-height: 750px;
  background-image: url(..//images/L2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.ap-footer {
  position: relative;
  margin-top: 50px;
  min-height: 750px;
  background-image: url(..//images/O2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .ap-footer__block {
    text-align: center;
    padding: 6.25rem 16.5625rem 0 16.5625rem; }

.ap-form {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 6.25rem;
  width: 100%;
  max-width: 585px; }
  .ap-form__main {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .ap-form__contacts {
    width: 48%;
    height: 43px;
    border: 1px solid #000;
    background-color: inherit;
    padding-left: 20px;
    color: #000; }
    .ap-form__contacts::placeholder {
      color: #000; }
  .ap-form__message {
    margin: 1.875rem 0;
    padding-left: 20px;
    padding-top: 12px;
    width: 100%;
    height: 8.125rem;
    border: 1px solid #000;
    background-color: inherit; }
    .ap-form__message::placeholder {
      color: #000; }
  .ap-form__button {
    text-align: center;
    width: 100%;
    height: 43px;
    border: none;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer; }
    .ap-form__button:hover, .ap-form__button:focus {
      background-color: #909090; }
